[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyterlab = "*"
torch = "*"
scikit-learn = "*"
matplotlib = "*"
torchvision = "*"
pytorch-lightning = "*"

[dev-packages]

[requires]
python_version = "3.8"
